.container{
    margin: auto;
    width: 50%;
    padding: 10px;;
}

body{
    background-color: rgb(42, 42, 44);
}

.name, #emails, #YearProg, #IDE, #recommendations, #niche, #commentArea {
    padding: 50px;
}

h1, p, h2, label{
    color: white;
    font-family: 'Courier New';
    font-size: 35px;
    padding: 5px;
}

h1{
    font-size: 60px;
}

#preQuest{
    width: 60%;
}


#dropdown{
    font-size: 25px;
    height: 35px;
    background-color: rgb(23, 23, 24);
    color: white;
}

input{
    height: 35px;
    width: 100%;
    font-size: 25px;
    background-color: rgb(23, 23, 24);
    color: white;
}

#recommendations{
    display: flex;
}

#recommendations label{
    padding-top: 50px;
    font-size: 25px;
}

.niche label {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 1px;
    position: relative;
    width: 100%;
}
.niche label span {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#commentArea textarea{
    background-color: rgb(23, 23, 24);
    font-size: 30px;
    width: 100%;
}

#submit{
    background-color: cornflowerblue;
    font-size: 40px;
    border-radius: 10px;
    font-family: sans-serif;
    margin-left: 50%;
    color: white;
}